<p>
  <strong>Commenter name:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [comment.behaviour, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>
